* {
    margin: -9px;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: rgb(30, 30, 30);
    color:rgb(14, 13, 13);
    overflow:hidden;
    overflow-y:scroll;
}
